{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "edge": "14",
          "chrome": "20",
        },
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ]
}